<!DOCTYPE HTML>
<head>

    <style>
    {
		background:url("https://static.wixstatic.com/media/50ed1c_c4173de9bf3946c3a36789095d7154c1~mv2.jpg") 0 0 no-repeat fixed;
		background-size:cover;
		-webkit-background-size:cover;
		-moz-background-size:cover;
		-o-background-size:cover;
	}
	
	img 
	{
		opacity: 0.70;
		filter: alpha(opacity=70);
	}

    p
    {
        color:blue;
    }
    </style>
</head>
<body>
<h1 align="center">
    STAR WARS FAN UYGULAMASINA HOŞGELDİNİZ
</h1>

<form action="/sonuc" method="GET">
    <input type="text" placeholder="Lütfen İsmi Giriniz" name="sorgu">
    <input type="submit">
</form>
</body>