<!DOCTYPE HTML>
<head>
<title>StarWars API's</title>
</head>
<body>
<h1 align="center">
    STAR WARS FAN UYGULAMASINA HOŞGELDİNİZ
</h1>

<form action="/sonuc" method="GET">
    <input type="text" placeholder="Lütfen İsmi Giriniz" name="sorgu">
    <input type="submit">
</form>
</body>